.correct{
    background-color: #7DFC60;
}

.incorrect{
    background-color: #FF5252;
}


.answer{
    background-color: #F2F0EF;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid;
    max-width: 1000px;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.question{
    color:white;
}

body{
    background-color:#333030;
}

.intro{
    color:white;
    flex-direction: column;
    line-height: 5px;
}

